.home-floor-plan {
    overflow: hidden;
}

.home-floor-plan:after {
    content: "";
    clear: both;
}

.home-floor-plan .floor-nav {
    background-color: #f2f0f0!important;
    padding:20px 0;
}

.floor-nav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.floor-nav .nav-pills .nav-link {
    font-size: 20px;
    color: #666;
    border-radius: .3125rem;
    padding: 12px 17px;
    display: block;
    font-weight: 600;
    line-height: 24px;
}


.floor-nav .nav-pills .nav-link.active, .floor-nav .nav-pills .nav-link:hover {
    color: #fff;
    background-color: #FF4136;
}

.tabs-section {
    background: #fafafa;
    min-height: 610px;
}

.tabs-section .nav-pills {
    padding-left: 50px;
}

.tabs-section .nav-pills .nav-item {
    display: list-item;
    width: 100%;
}

.tabs-section .nav-pills .nav-item .nav-link {
    color: #433e39;
    display: block;
    font-size: 16px;
    padding: 15px 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
}

.tabs-section .nav-pills .nav-item .nav-link:hover, .tabs-section .nav-pills .nav-item .nav-link.active {
    background-color: #fafafa;
    color: #FF4136;
    padding-left: 40px;
    position: relative;
}

.tabs-section .nav-pills .nav-item .nav-link:visited, .tabs-section .nav-pills .nav-item .nav-link:active{
    /*background: none;*/
}

.tabs-section .nav-pills .nav-item .nav-link:after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: #FF4136;
    display: inline-block;
    position: relative;
    top: -6px;
    margin-left: 20px;
    opacity: 0;
    z-index: 50;
}

.tabs-section .nav-pills .nav-item .nav-link.active:after, .tabs-section .nav-pills .nav-item .nav-link:hover:after {
    opacity: 1;
}

.tab-content {
    height: 550px;
    position: relative;
}

.tab-content .floor-pln {
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 2;
}

.tab-content .floor-pln .blc-box {
    background: #000000;
    margin-bottom: 20px;
    padding: 20px 30px;
    width: 325px;
}

.tab-content .floor-pln .blc-box h1 {
    color: #ffffff;
    height: 60px;
    line-height: 40px;
    margin: 10px 0;
}

.tab-content .floor-pln .blc-box p {
    color: #ffffff;
    font-size: 20px;
    height: 35px;
    line-height: 25px;
    margin: 0px 0px 10px;
}

.tab-content .floor-pln .floor-details {
    list-style: none;
    padding: 0;
    margin-left: -2px;
    margin-right: -3px;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}

.tab-content .floor-pln .floor-details li {
    padding: 3px;
    width: calc(100%/3);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.tab-content .floor-pln .floor-details li a {
    background-color: #FF4136;
    color: #fff;
    font-size: .8125rem;
    text-align: center;
    padding: 10px;
    display: inline-block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: default;
}

.tab-content .floor-pln .floor-details li.request-tour-btn a {
    background-color: #b7b7b7;
    pointer-events: auto;
    cursor: pointer;
}

.tab-content .floor-pln .floor-details li a i {
    display: block;
    font-size: 22px;
    text-align: center;
    height: 32px;
    line-height: normal;
}

.tab-content .floor-pln .floor-details li a span {
    display: block;
    font-size: 14px;
}

.tab-content .floor-pln .floor-details li.request-tour-btn a span {
    font-size: 12px;
}

.tab-content .floor-pln-img {
    position: absolute;
    right: 20px;
    width: 55%;
    top: 140px;
    z-index: 1;
}

.tab-content .floor-pln-img img{
    height: auto;
    width: 100%;
}

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
    z-index: 51;
}

.about-section {
    position: relative;
    background-size: cover;
    border-bottom: .75rem solid #fff;
}

.about-section .bg-primary {
    background-color: #FF4136!important;
}

.about-section .text-cont .tag {
    text-transform: uppercase;
    background-color: #fff;
    color: #FF4136;
    padding: .75rem;
}

.about-section .text-cont {
    font-size: 1.5rem;
    padding: 70px 0 70px 0;
}

.about-section .text-cont h2 {
    font-size: 3rem;
    position: relative;
    line-height: 1!important;
    padding-bottom: 50px;
    padding-top: 30px;
}

.about-section .text-cont h2:before {
    bottom: 15px;
    content: '';
    width: 117px;
    height: 4px;
    background-color: #fff;
    display: block;
    position: absolute;
}

.about-section .text-cont p {
    color: #ffffff;
}

.about-section .btn {
    background-color: transparent;
    border-color: #ececec;
    border-radius: 1.5rem;
    color: #ececec;
    cursor: pointer;
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .75rem 1.5rem;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: border-radius .5s ease,background-color .5s ease;
    transition: border-radius .5s ease,background-color .5s ease;
}

.about-section .btn:hover {
    background-color: #ffffff;
    border-radius: 2.5rem;
    color: #FF4136;
}

@media (min-width: 768px){
    .about-section:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        display: block;
        background-color: #FF4136;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.8);
        box-shadow: 0 0 10px rgba(0,0,0,.8);
    }

    .about-section:after {
        content: '';
        position: absolute;
        left: 0;
        background-image: url(https://2u0yuyu2fs02fa819ut739hy-wpengine.netdna-ssl.com/wp-content/themes/connorgroup-2019-understrap/img/line-before.png);
        width: 7%;
        bottom: 0;
        top: 34.3%;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .about-section .text-cont {
        float: right;
        max-width: 700px;
        padding: 70px 70px 70px 0;
    }

    .about-section .text-cont .tag {
        padding: 1.5rem;
    }

    .about-section .text-cont h2 {
        font-size: 50px;
    }

    .about-section .box-360 .img-cont {
        width: 40%;
    }
}