.home-floor-plan {
}

.home-floor-plan .floor-nav {
    background-color: #ececec!important;
    padding:20px 0;
}

.floor-nav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.floor-nav .nav-pills .nav-link {
    font-size: 20px;
    color: #666;
    border-radius: .3125rem;
    padding: 12px 17px;
    display: block;
    font-weight: 600;
    line-height: 24px;
}


.floor-nav .nav-pills .nav-link.active, .floor-nav .nav-pills .nav-link:hover {
    color: #fff;
    background-color: #FF4136;
}